body {
  font-family: "century gothic";
  text-align: center;
  background-color: #dadacc;
  /* background-image: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
  /* border: 3px solid black; */
  /* border-style: dashed; */
}

section {
  margin: 1rem;
   border-bottom: 3px solid black; */
  /* border-style: dashed; */
}

section h2 {
  /* text-decoration: underline; */
  color: rgb(170, 145, 63);
}

h1 {
  font-size: 2.5rem;
  background-color: #d9dcc7;
  display: inline-flex;
  padding: 1rem;
  color: rgb(170, 145, 63);
}

header {
  background-image: url("https://images.unsplash.com/photo-1458322493962-69c5a4ef7ddf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  /* background-color: black; */
}

ul,
li {
  padding: 0;
  list-style-type: none;
}

.spicy:before {
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../assets/spicy.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 3px;
  position: relative;
  top: 2px;
}

#description {
  margin-bottom: 1.25rem;
  font-style: italic;
}
